:root {
    --principalColor: #1A3246;
    --secondaryColor: #ebaf93;
    --inactiveColor: rgba(0, 0, 0, 0.2);
    --textColor: #fff;
    --hoverColor:#ff7f04;
}

.hidden {
    display: none;
}

* {
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
}

body header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--principalColor);
    position: relative;
    top: 50px;
}

body#books-auxiliar {
    position: absolute;
    top: 250px

}
 
div#add-book-img {
    margin-left: 2em;
    position: relative;
    top: 50px;
}

div#delete-book-img {
    margin-left: 1em;
    position: relative;
    top: 50px;
}

div#add-book-img button {
    border: none;
}

div#add-book-img img{
    width:50px
}

div#delete-book-img button {
    border: none;
}

div#delete-book-img img{
    width:50px
}

body div#books table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    position: relative;
    top: 50px;
} 

body div#books table tr.even-row {
    color: var(--principalColor);
}

body div#books table tr.odd-row {
    background-color: var(--principalColor);
    color: var(--textColor);
}

body div#books table thead tr th {
    padding: 10px 25px;
    text-align: center;
    border-bottom: 4px solid var(--hoverColor);
    color: #1A3246;

}

body div#books table tbody tr {
    text-align: center;
    padding: 15px;
}

body div#books table tbody tr td{
    padding: 15px;
}


body div#books table tbody tr td button.button-isRead {
    background-image: url(icon-park--correct.svg);
    background-size: contain;
    width: 32px;
    height: 32px;
    border: none;
}

body div#books table tbody tr td button.button-notRead {
    background-image: url(ph--empty-bold.svg);
    background-size: contain;
    width: 32px;
    height: 32px;
    border: none;   
}

body div#books table tbody tr td button.button-edit {
    background-image: url(icon-park--edit-two.svg);
    background-size: contain;
    width: 32px;
    height: 32px;
    border: none;
}

body div#books table tbody tr td button.button-delete {
    background-image: url(tdesign--delete-time.svg);
    background-size: contain;
    width: 32px;
    height: 32px;
    border: none;
}

body div.blur > :not(#form-welcome) {
    filter: blur(5px);
}

body div.grid {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body div#form-welcome form {
    border: solid 3px var(--principalColor);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px var(--principalColor);
    background-color: var(--secondaryColor);
    display: grid;
    grid-template-rows: minmax(200px, 30vh);
}

body div#form-welcome form fieldset {
    height: 100%;
    border: none;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.75fr;
}

body div#form-welcome form fieldset div.title{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--principalColor);
    color: var(--textColor);
    font-size: 1rem;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    padding: 0.5em;
}

body div#form-welcome form fieldset div#user-details {
    color: var(--principalColor);
    text-align: center;
    align-self: center;
}

body div#form-welcome form fieldset div#user-details input {
    border: none;
    border-bottom: 2px solid var(--inactiveColor);
    height: 2rem;
    background-color: var(--secondaryColor);
    font-size: 20px;
}

body div#form-welcome form fieldset div#user-details input:focus {
    outline: none;
}

body div#form-welcome form fieldset div#user-details-submit{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body div#form-welcome form fieldset div#user-details-submit button {
    border-radius: 10px;
    background-color: var(--principalColor);
    border: none;
    color: var(--textColor);
    font-weight: bolder;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 80%;
    padding: 0.5em 0.5em;
}

body div#form-welcome form fieldset div#user-details-submit button#register {
    margin-bottom: 10px;
}

body div#form-welcome form fieldset div#user-details-submit button#cancel {
    margin-bottom: 10px;
}

body div#form-welcome form fieldset div#user-details-submit button:hover {
    background-color: var(--hoverColor);
}

body div#form-welcome form fieldset div#user-details-submit button:disabled {
    background-color: var(--inactiveColor);
}

/* Formulario Adicionar Livros */

body div#add-book form {
    border: solid 3px var(--principalColor);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px var(--principalColor);
    background-color: var(--secondaryColor);
    display: grid;
    grid-template-rows: minmax(200px, 30vh);
}

body div#add-book form fieldset {
    height: 100%;
    border: none;
    font-size: 18px;
    display: grid;
    grid-template-rows: 0.25fr 1fr;
}

body div#add-book form fieldset div#book-title {
    color: var(--principalColor);
    text-align: center;
    align-self: center;
}

body div#add-book form fieldset div#survey-book {
    color: var(--principalColor);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 20px;
}

body div#add-book form fieldset div#survey-book div#book-details-title{
    display: grid;
    grid-template-columns: 0.6fr 0.1fr;
    align-content: center;
}

body div#add-book form fieldset div#survey-book div#book-details-title label {
    text-align: left;
}

body div#add-book form fieldset div#survey-book div#book-details-pages{
    display: grid;
    grid-template-columns: 0.6fr 0.1fr;
    align-content: center;
}

body div#add-book form fieldset div#survey-book div#book-details-pages label {
    text-align: left;
}

body div#add-book form fieldset div#survey-book div#book-details-author{
    display: grid;
    grid-template-columns: 0.6fr 0.1fr;
    align-content: center;
}

body div#add-book form fieldset div#survey-book div#book-details-author label {
    text-align: left;
}

body div#add-book form fieldset div#survey-book div#book-details-isread{
    display: grid;
    grid-template-columns: 0.4fr 0.1fr;
    align-content: center;
}

body div#add-book form fieldset div#survey-book div#book-details-isread label {
    text-align: left;
}


body div#add-book form fieldset div#user-details-submit{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

body div#add-book form fieldset div#user-details-submit button {
    border-radius: 10px;
    background-color: var(--principalColor);
    border: none;
    color: var(--textColor);
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    padding: 10px 20px;
}

body div#add-book form fieldset div#user-details-submit button#book-add {
    margin-bottom: 10px;
}

body div#add-book form fieldset div#user-details-submit button#book-cancel {
    margin-bottom: 10px;
}


body div#add-book form fieldset div#user-details-submit button:hover {
    background-color: var(--hoverColor);
}

body div#add-book form fieldset div#user-details-submit button:disabled {
    background-color: var(--inactiveColor);
}










